<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> About </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style_about.css') }}">
    </head>

<body>

    <header>
        <!--<h2 class="back-button"><ion-icon name="arrow-back-circle"></ion-icon></h2>-->
        <a href="javascript:history.go(-1)">
            <i class="back-button"><ion-icon name="arrow-back-circle"></ion-icon></i>
        </a>
      <!--  <div class="home">
            <a href="file:///C:/Users/Roupesh%20C/Desktop/Mini%20Project/Website/Login%20website.html">Back</a>
            </div> -->  
    </header>
        
    <div class="wrapper">
        
        <div class="info">
            <label> Hi! This website is used to store your beautiful memories, reminders, notes, even birthday dates. Enjoy! </label>
     </div>
    </div>
    
    

    
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>